* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 10px;
}

.sidebar {
    position: absolute;
    left: 0;
    background-color: #0088ff;
    color: white;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0;
}

.sidebar p {
    padding: 1em;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar p:hover {
    background-color: #06579e;
}

.form-container {
    background-color: #0088ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 40%;
    padding: 1em 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-container input {
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 1em;
    outline: none;
}

.form-container button {
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.password-list div {
    background-color: #0088ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
}
