.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 2 / 2;
}
.form-container {
    grid-area: 1 / 2 / 2 / 3;
}
.password-list {
    grid-area: 1 / 3 / 2 / 4;
}

.sidebar {
    text-align: center;
    background-color: #0088ff;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0;
}

.sidebar p {
    padding: 1em;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar p:hover {
    background-color: #06579e;
}

.form-container {
    margin-left: 1em;
    padding: 2em;
    border: 3px solid #0088ff;
}

.form-container input {
    width: 100%;
}

.password-list div {
    background-color: #0088ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
}
